snippet (module "create an aniseed module expr" b
(module $0
	{require
	 {a aniseed.core
	  r r
	  md utils.module
	  utils utils}
	 require-macros [macros]})
endsnippet

snippet (fun- "create an aniseed private function" w
(defn- $1 [$2]$0
endsnippet

snippet (fun "create an aniseed function" w
(defn $1 [$2]$0
endsnippet

snippet (main "Create a main func." w
(defn main [$2]$0
endsnippet
