snippet (module "create an aniseed module expr" b
(module $0
	{require
	 {a aniseed.core
	  r r
	  md utils.module
	  utils utils}
	 require-macros [macros]})
endsnippet

snippet df- "create an aniseed private function" w
defn- $1 [$2]$0
endsnippet

snippet df "create an aniseed function" w
defn $1 [$2]$0
endsnippet
