priority -50

snippet /** "A JSDoc comment" b
/**
 * ${1:${VISUAL}}$0
 */
endsnippet

snippet @const "@constructor"
@constructor
endsnippet

snippet @p "@param {Type} varname"
@param {${1:Type}} ${2:varname}$0
endsnippet

snippet @ret "@returns {Type} Description"
@returns {${1:Type}} ${2:Description}$0
endsnippet
