snippet codes
	<CodeSlide
		code={ require('${1}')}
		lang='${2:jsx}'
		ranges={[
			{ loc: [ 0, 255 ], title: '${4}'},
			{ loc: [ ${4:0}, ${5}] }${0}
		]}
		transition={ [] }
	/>
snippet loc
	{
		loc: [ ${1:0}, ${2:1} ],
		note: '${3}',
		title: '${4}'
	}${5:,}${0}
